@import "src/styles/variables";

.app-footer {
  background-color: $primary-bg;
  padding: 3rem 6%;
  color: #FFFFFF;
  div {
    margin-bottom: 5px;
  }
  a {
    color: #FFFFFF;
  }
}

.app-footer__logo {
  width: 150px;
  margin: 3.5rem 0;
}

.app-footer__links > div {
  &:not(:first-child) {
    cursor: pointer;
  }
}

@media (max-width: 986px) {

  .app-footer {
    padding: 3rem 5%;
    div {
      margin-bottom: 5px;
    }
  }
}
