@import "src/styles/variables";

.post-list {
  position: relative;
  padding: 5rem;
  min-height: 180vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 40.62%, rgba(61, 20, 20, 0.63) 99.98%, rgba(48, 7, 7, 0.85) 99.99%);
  .post-list__background {
    position: absolute;
    width: 80%;
    top: 3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  }
  h1 {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 4rem;
    .ant-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

}

.post-list__items {
  z-index: 1;
}

.post-list__background-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.post-list__item-body {
  position: relative;
  background-color: #FFFFFF;
  padding: 2rem;
  h2 {
    margin-bottom: 1.5rem;
  }
  height: 350px;
  overflow: hidden;

  .post-list__read-more {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    a {
      color: $primary-pink;
      font-weight: bold;
    }
  }
}

.ant-pagination.post-list__pagination {
  text-align: center;
  margin-top: 3rem;
  .ant-pagination-item, .ant-pagination-item-link {
    background-color: transparent;
    border: none;
    font-size: 24px;
    a, svg {
      color: #FFFFFF;
    }
    &.ant-pagination-item-active {
      font-weight: bold;
    }
  }
}

.post-list__item-body p {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-list__item-footer {
  text-align: center;
  background-color: #FFFFFF;
  padding: 1rem;
  .ant-btn.ant-btn-primary {
    padding: 10px 25px;
    width: 120px;
    font-size: 16px;
  }
}
