@import "src/styles/variables";

.auth-wrapper {
  font-size: 16px;
  color: #FFFFFF;
  a {
    color: #FFFFFF;
  }
  .input-field-wrapper {
    .input-field__title {
      color: #FFFFFF;
      font-size: 16px;
      margin-bottom: 15px;
    }
    input.ant-input.input-field, .input-field-wrapper textarea {
      background-color: #323232;
      border-radius: 50em;
      border: none;
      color: #FFFFFF;
      padding: 17px 25px;
    }
  }
  .ant-btn.submit-btn {
    background-color: $primary-pink;
    width: 100%;
    border: none;
    color: #FFFFFF;
    border-radius: 50em;
    padding: 17px 25px;
    height: auto;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 18px;
  }
  .ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active {
    background-color: $primary-pink;
    color: #FFFFFF;
  }
}

.auth-wrapper__brand {
  background-color: $primary-bg;
  position: relative;
}

.auth-wrapper__form-wrapper {
  background-color: $secondary-bg;
  > div {
    width: 60%;
    margin: 5rem auto 0 auto;
  }
  .auth-wrapper__logo {
    display: block;
    margin: 0 auto 2rem auto;
    width: 200px;
  }
}

.auth-wrapper__brand, .auth-wrapper__form-wrapper {
  height: 100vh;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.auth-wrapper__brand-img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}


@media (max-width: 986px) {

  .auth-wrapper__brand {
    display: none;
  }

  .auth-wrapper__form-wrapper {
    height: auto;
    overflow: auto;
    > div {
      margin-bottom: 5rem;
    }
  }
}
