@import "variables";
@import "helpers";
@import "antOverrides";

/* General component styles */
body {
  background-color: #FFFFFF;
  color: $primary-black;
  font-weight: 500;
}

body, h1, h2, h3, h4, h5, button, input {
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.7rem !important;
}
