@import "src/styles/variables";

.user-list {
  min-height: 100vh;
  padding: 1rem;
  background-color: $primary-bg;
}

.user-list__status {
  text-transform: capitalize;
}

.user-list__actions {
  text-transform: capitalize;
  > .ant-btn.ant-btn-primary {
    padding: 5px 15px;
    font-size: 14px;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.user-list__view-document {
  > .ant-btn {
    padding: 0;
  }
}
