@import "src/styles/variables";

.charter {
  background: linear-gradient(180deg, rgba(237, 88, 90, 0.76) 40.62%, rgba(228, 65, 67, 0.63) 99.98%, rgba(48, 7, 7, 0.85) 99.99%);
  padding: 5rem 15%;
}

.charter__content {
  color: #FFFFFF;
  background-color: $primary-pink;
  padding: 5%;
  h1 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 3rem;
  }
  h2 {
    color: #FFFFFF;
    font-weight: 600;
    height: 70vh;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}


@media (max-width: 986px) {

  .charter {
    padding: 5% 7%;
  }
}
