@import "src/styles/variables";

.change-password-form {
  color: #FFFFFF;
  background-color: $secondary-bg;
  padding: 5rem 0;
  h1, h2, a {
    color: #FFFFFF;
    text-align: center;
  }
  form {
    width: 30%;
    margin: 0 auto;
  }
  .input-field-wrapper {
    .input-field__title {
      color: #FFFFFF;
      font-size: 16px;
      margin-bottom: 15px;
    }
    input.ant-input.input-field{
      background-color: #323232;
      border-radius: 50em;
      border: none;
      color: #FFFFFF;
      padding: 17px 25px;
      margin-bottom: 1rem;
    }
  }
  .ant-btn.submit-btn {
    width: 100%;
  }
  .ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active {
    background-color: $primary-pink;
    color: #FFFFFF;
  }

}

@media (max-width: 986px) {

  .change-password-form {
    form {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {

  .change-password-form {
    form {
      width: 80%;
    }
  }
}
