@import "src/styles/variables";

.user-account {
  color: #FFFFFF;
  h1, h2 {
    color: #FFFFFF;
  }
  a {
    color: #FFFFFF;
  }
}

.user-account__account-wrapper {
  background-color: $secondary-bg;
  padding: 2rem 2rem 8rem;
  text-align: center;
}

.user-account__verification-status {
  text-transform: uppercase;
}

.user-account__avatar {
  width: 250px;
  display: block;
  margin: 3rem auto;
}
